/*====== common css start========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

@font-face {
  font-family: "PT Sans";
  src: url(../font/PTS76F.ttf);
}
html {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.428571429;
  font-weight: 400;
  color: #fff;
}

/*====== common css end========*/
#main {
  background: linear-gradient(to right, #41295a, #2f0743);
}
#main .main-body {
  background-color: #3D4067;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
  border-radius: 0 0 10px 10px;
  box-shadow: 5px 0 5px #2f0743, -5px 0 5px #41295a;
  padding-bottom: 180px;
}
#main .main-body header {
  display: block;
  position: relative;
  z-index: 1;
  padding: 15px 48px 30px;
}
#main .main-body header h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
}
#main .main-body header h4 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
}
#main .main-body main {
  display: block;
  position: relative;
  z-index: 1;
  flex: 1;
  padding: 0 48px;
  display: flex;
  justify-content: center;
}
#main .main-body main form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
#main .main-body main form .form-item input[type=text],
#main .main-body main form .form-item [type=email],
#main .main-body main form .form-item [type=passward] {
  display: block;
  color: #E2E3E8;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
  border: 1px solid #75759E;
  padding: 8px 0 8px 15px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
#main .main-body main form .box-item {
  height: 55px;
  margin-bottom: 5px;
}
#main .main-body main form .form-field {
  margin-bottom: 15px;
}
#main .main-body main form .form-field input {
  width: 100%;
  padding: 8px 15px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  border: none;
  border: 1px solid #75759E;
  padding: 8px 0 8px 15px;
}
#main .main-body main form .form-field input::-moz-placeholder {
  color: #cacaca;
}
#main .main-body main form .form-field input:-ms-input-placeholder {
  color: #cacaca;
}
#main .main-body main form .form-field input::placeholder {
  color: #cacaca;
}
#main .main-body main form .form-field .error-msg {
  color: #FFC23C;
  font-size: 16px;
  margin-top: 5px;
  text-transform: capitalize;
}
#main .main-body main form .pass-show,
#main .main-body main form .cpass-show {
  position: relative;
}
#main .main-body main form .pass-show button,
#main .main-body main form .cpass-show button {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 15px;
  background-color: #3D4067;
  border: #3D4067;
  outline: #3D4067;
}
#main .main-body main form .pass-show button i,
#main .main-body main form .cpass-show button i {
  color: #fff;
  font-size: 12px;
  background-color: #3D4067;
  border: 1px solid #3D4067;
  outline: 1px solid #3D4067;
}
#main .main-body main form .pass-show button i:hover,
#main .main-body main form .cpass-show button i:hover {
  color: skyblue;
}
#main .main-body main form .gender-field label {
  color: #cacaca;
  margin-right: 30px;
}
#main .main-body main form .gender-field input {
  margin-right: 5px;
}
#main .main-body main form .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
#main .main-body main form .button .sign-up-button .animated-button {
  background: linear-gradient(-30deg, #0b1b3d 50%, #2f0743 50%);
  padding: 20px 180px;
  margin: 12px auto 40px;
  display: inline-block;
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #d4e0f7;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  position: relative;
}
#main .main-body main form .button .sign-up-button .animated-button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #8592ad;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}
#main .main-body main form .button .sign-up-button .animated-button:hover::before {
  opacity: 0.2;
}
#main .main-body main form .button .sign-up-button .animated-button span {
  position: absolute;
}
#main .main-body main form .button .sign-up-button .animated-button span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}
@-webkit-keyframes animateTop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animateTop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#main .main-body main form .button .sign-up-button .animated-button span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}
@-webkit-keyframes animateRight {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes animateRight {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
#main .main-body main form .button .sign-up-button .animated-button span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}
@-webkit-keyframes animateBottom {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animateBottom {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
#main .main-body main form .button .sign-up-button .animated-button span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}
@-webkit-keyframes animateLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animateLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
#main .main-body main form .button .button-or h2 {
  font-size: 40px;
  color: #ddd;
  padding-bottom: 30px;
}
#main .main-body main form .button .social-button .button-text {
  padding-bottom: 10px;
}
#main .main-body main form .button .social-button .button-text h5 {
  font-size: 20px;
  font-weight: 300;
  color: #ddd;
  font-family: "PT Sans";
  padding-bottom: 10px;
}
#main .main-body main form .button .social-button .button-link .button-link-item {
  height: 40px;
  width: 40px;
  margin: 0 20px;
}
#main .main-body main form .button .social-button .button-link .button-link-item a img {
  width: 100%;
}
#main .main-body footer {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  background-color: #524F81;
  padding: 16px;
  align-self: center;
  text-align: center;
  margin-top: 50px;
}
#main .main-body footer p {
  color: #cacaca;
}
#main .main-body footer p a {
  color: #cacaca;
  font-weight: 700;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}
#main .main-body footer p a:hover {
  text-decoration: underline;
}
#main .main-body .wave {
  position: absolute;
  top: 0;
  left: 50%;
  width: 800px;
  height: 800px;
  margin-top: -600px;
  margin-left: -400px;
  background: #252E45;
  border-radius: 40%;
  -webkit-animation: shift 20s infinite linear;
  animation: shift 20s infinite linear;
  z-index: 0;
}
@-webkit-keyframes shift {
  from {
    transform: rotate(360deg);
  }
}
@keyframes shift {
  from {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */